<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item m-1">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item m-1">
                            <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Admin">Admin Panel</a>
                        </li>
                    }
                </ul>
                @if (User.Identity!.IsAuthenticated)
                {
                    <a class="btn btn-outline-danger" asp-controller="Auth" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Login">Login</a>
                }
            </div>
        </div>
    </nav>
</header>