@{
    ViewBag.Title = "Admin Panel";
}

<div class="text-center mt-4">
    <a class="btn btn-primary" asp-controller="Authors" asp-action="Index" >Manage Authors</a>
    <a class="btn btn-primary" asp-controller="News" asp-action="Index" >Manage News</a>
</div>
    
