@model IEnumerable<AuthorViewModel>
@{
    ViewBag.Title = "Authors";
}
<div class="mb-2 mt-2">
    <a class="btn btn-primary" asp-controller="Authors" asp-action="Create">
        Add Records
    </a>

    <a class="btn btn-secondary" asp-controller="Authors" asp-action="Index">
        Records
    </a>

</div>

<div class="mt-4">
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var author in Model)
            {
                <tr>
                    <td>@author.Name</td>
                    <td>@author.Email</td>
                    <td>
                        <a class="btn bg-danger m-1"
                       asp-controller="Authors" asp-action="Delete" asp-route-AuthorId="@author.Id">Delete</a>
                        <a class="btn bg-primary m-1"
                       asp-controller="Authors" asp-action="Toggle" asp-route-AuthorId="@author.Id">Restore</a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}